<% content_for :title, "Search Seats" %>

<h3>Search Seats</h3>
	<%= link_to "Back", tickets_path %>

	<%= simple_form_for @search do |s| %>
	<div class="form-group">
		<%= s.label "Departure Date: ", :class => "searchlabels" %>
		<%= s.date_field :departure_date, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= s.label "Departure Airport: ", :class => "searchlabels" %>
		<%= s.select(:departure_airport, options_for_select(@departure_airports), {:include_blank => true}, id: 'simple-example3', class: 'form-control' ) %>
	</div>

	<div class="form-group">
		<%= s.label "Airline: ", :class => "searchlabels" %>
		<%= s.select(:airline, options_for_select(@airlines), {:include_blank => true}, id: 'simple-example4', class: 'form-control' ) %>
	</div>
	
	<div class="form-group">
		<%= s.label "Flight Number: ", :class => "searchlabels" %>
		<%= s.text_field :flight_num, class: 'form-control'  %>
	</div>

<!-- 	 <div class="form-group">
		<%= s.label "Save Search Criteria: " %><br/>
	  <%= s.check_box :savedsearch %>
	 </div>
 -->

	<div class="actions">
		<%= s.submit "Search", class: 'btn btn-primary' %>
	</div>
	<% end %>
	<br>
